  @import url('https://fonts.googleapis.com/css2?family=Geologica&family=Mulish&family=Nunito&family=Nunito+Sans&family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}
:root{
  --colorPrimary:#034EA2;
  --colorSecondary:#2B8ACF;
}